*.pdf 
*.doc
*.docx
*.png 
*.xls
*.ppt
*.pptx
*.dmg 
*.zip 
*.tex 
*.pptx 
*.docx
*.csv
*.do 
*.asc
*.jpeg 
*.m4a 
*.pgn 
*.mp4
*.js 
*.ris 
*.txt 
*.rmd 
*.htm
*.html 
*.DS_store
*.RData
*.RHistory
*.history
*.RDS

